
MakeMIDIWork/.idea/caches/gradle_models.ser
MakeMIDIWork/.idea/vcs.xml
MakeMIDIWork/.idea/caches/build_file_checksums.ser
MakeMIDIWork/.idea/caches/build_file_checksums.ser
MakeMIDIWork/.idea/caches/build_file_checksums.ser
MusicSheet/.idea/misc.xml
NLPrototype/.idea/misc.xml
NLPrototype/.idea/gradle.xml
